<ion-header>
  <ion-toolbar>
    <ion-title>Rescate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha y hora</ion-label>
    <ion-datetime displayFormat="D MMM YYYY HH:mm" min="1997" max="2010" value="2020-12-11T11:06Z" [dayShortNames]="customDayShortNames" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
  </ion-item>
  <br><br>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle># CUFUS</ion-card-subtitle>
    <ion-card-title><ion-input placeholder="Identificador"></ion-input></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Diagnóstico</ion-label>
      <ion-textarea rows="6" cols="20"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
<br><br><br>
<ion-item>
  <ion-button color="primary" shape="round" routerLink="/rescate-resol">Se resolvió</ion-button>
  <ion-button color="primary" shape="round">No se resolvió</ion-button>
</ion-item>

</ion-content>
