<ion-header>
    <app-header titulo="Rescate"></app-header>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Fecha y hora</ion-label>
        <ion-datetime #fecha displayFormat="YYYY-MM-DD HH:mm" disabled monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
    </ion-item>
    <br><br>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle># CUFUS</ion-card-subtitle>
            <ion-card-title>
                <ion-input #idcufus disabled></ion-input>
            </ion-card-title>
        </ion-card-header>
        <ion-card-header>
            <ion-card-subtitle>Contacto</ion-card-subtitle>
            <ion-card-title>
                <a #contacto href="tel:6641234123"></a>
            </ion-card-title>
        </ion-card-header>
        <ion-card-header>
            <ion-card-subtitle>Direccion</ion-card-subtitle>
            <ion-card-title>
                <a #direccion href=""></a>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Diagnóstico</ion-label>
                <ion-textarea #diagnostico rows="6" cols="20"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Comentarios</ion-label>
                <ion-textarea #comentarios rows="6" cols="20"></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <br><br><br>
    <ion-item>
        <ion-button (click)="enviar()" color="primary" shape="round">Se resolvió</ion-button>
        <ion-button (click)="enviar2()" color="primary" shape="round">No se resolvió</ion-button>
    </ion-item>

</ion-content>