<ion-content>
    <ion-item>
        <ion-label>Fecha y hora</ion-label>
        <ion-datetime displayFormat="D MMM YYYY HH:mm" value="2020-12-11T11:06Z" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label>ID</ion-label>
            <ion-input disabled value="Id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-list>
                <ion-label>Fallas</ion-label>
                <ion-item>
                    <ion-input disabled placeholder="Falla 1"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled placeholder="Falla 2"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled placeholder="Falla 3"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled placeholder="Falla 4"></ion-input>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label>Criticidad</ion-label>
            <ion-input disabled value="Criticidad JT"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Criticidad</ion-label>
            <ion-select placeholder="Seleccione">
                <ion-select-option value="Nooperable">No operable</ion-select-option>
                <ion-select-option value="Riesgoalto">Operable alto riesgo</ion-select-option>
                <ion-select-option value="Riesgobajo">Operable bajo riesgo</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>
    <ion-item>
        <ion-label>Lugar de atención</ion-label>
        <ion-input disabled value="Taller" #rescatejt></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Lugar de atención</ion-label>
        <ion-select (ionChange)="show($event)" placeholder="Seleccione">
            <ion-select-option value="Taller">Taller</ion-select-option>
            <ion-select-option value="Encierro">Encierro</ion-select-option>
            <ion-select-option value="TallerEx">Taller externo</ion-select-option>
            <ion-select-option value="Rescate">Rescate</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item #direccion style="display: none;">
        <ion-label>Ubicación</ion-label>
        <ion-textarea rows="4" cols="20" value=""></ion-textarea>
    </ion-item>
    <br>
    <ion-button shape="round" color="primary" expand="block" routerLink="/rescate-info">Aceptar</ion-button>
</ion-content>