<ion-toolbar>
    <ion-buttons [hidden]="titulo === 'Reportes'" slot="start">
        <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ titulo }}</ion-title>
    <ion-buttons slot="secondary">
        <ion-button expand="full" (click)="OpenPopNotifications( $event )">
            <ion-icon class="iconMenu" name="notifications-outline"></ion-icon>
            <ion-badge [hidden]="unread === 0" [class.badge-one]="unread < 10" [class.badge-two]="unread >= 10" color="danger">{{ unread }}</ion-badge>
        </ion-button>

        <ion-button expand="block" (click)="OpenPopSession( $event )">
            <ion-icon class="iconMenu" name="person-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>