<app-header></app-header>
<ion-content>
    <ion-item>
        <ion-label>Fecha y hora</ion-label>
        <ion-datetime disabled displayFormat="YYYY-MM-DD HH:mm" #fecha></ion-datetime>
    </ion-item>
    <br>
    <ion-card>
        <ion-item>
            <ion-label># CUFUS</ion-label>
            <ion-input disabled #idcufus></ion-input>
            <ion-label>Unidad</ion-label>
            <ion-input disabled #idunidad></ion-input>
        </ion-item>
        <ion-item>
            <ion-list>
                <ion-label>Fallas</ion-label>
                <ion-item>
                    <ion-input disabled #falla1></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla2></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla3></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla4></ion-input>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label>Estatus</ion-label>
            <ion-select #estatus placeholder="Seleccione">
                <ion-select-option value="1">Por atender</ion-select-option>
                <ion-select-option value="2">En proceso</ion-select-option>
                <ion-select-option value="3">Refacción</ion-select-option>
                <ion-select-option value="6">Validando reparación</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Diagnóstico</ion-label>
                <ion-textarea rows="6" cols="20"></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-button shape="round" color="primary" expand="block" routerLink="/home">Guardar</ion-button>

</ion-content>