<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Debe iniciar sesión para continuar.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Usuario:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

    </ion-card-content>
      <ion-button expand="full" onclick="href='/home'">Iniciar</ion-button>
  </ion-card>

</ion-content>
