<ion-header>
  <ion-toolbar>
    <ion-title>Proceso de reparación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha y hora</ion-label>
    <ion-datetime displayFormat="D MMM YYYY HH:mm"  value="2020-12-11T11:06Z" [dayShortNames]="customDayShortNames" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
  </ion-item>
  <br>
<ion-card>
  <ion-item>
    <ion-label># CUFUS</ion-label>
    <ion-input disabled value="CUFUS"></ion-input>
    <ion-label>ID</ion-label>
    <ion-input disabled value="Id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fallas</ion-label>
    <ion-textarea rows="3" cols="20" disabled></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Estatus</ion-label>
    <ion-select placeholder="Seleccione">
      <ion-select-option value="Atender">Por atender</ion-select-option>
      <ion-select-option value="Proceso">En proceso</ion-select-option>
      <ion-select-option value="Refaccion">Refacción</ion-select-option>
      <ion-select-option value="Validacion">Validando reparación</ion-select-option>
    </ion-select>
   </ion-item>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Diagnóstico</ion-label>
      <ion-textarea rows="6" cols="20"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
<br>
  <ion-button style="" shape="round" color="primary" expand="block" routerLink="">Guardar</ion-button>

</ion-content>
