<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rescate información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Reporte</ion-label>
    <ion-datetime displayFormat="D MMM YYYY HH:mm"  value="2020-12-11T11:06Z" [dayShortNames]="customDayShortNames" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
  </ion-item>
  <br>
  <ion-list>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-input disabled value="Id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-label>Fallas</ion-label>
        <ion-item>
          <ion-input disabled placeholder="Falla 1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input disabled placeholder="Falla 2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input disabled placeholder="Falla 3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input disabled placeholder="Falla 4"></ion-input>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-label>Criticidad</ion-label>
      <ion-input disabled value="Criticidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ubicación</ion-label>
      <ion-textarea rows="4" cols="20" disabled value=""></ion-textarea>
    </ion-item>
    
  </ion-list>
  <br><br>
  <ion-button expand="block" fill="outline" routerLink="/form-rescate">Aceptar</ion-button>
  
</ion-content>

<style>
  ion-label {
    opacity: 1 !important;
}
</style>