<app-header></app-header>
<ion-content>
    <ion-card>
        <ion-item>
            <ion-label># CUFUS</ion-label>
            <ion-input disabled #idcufus></ion-input>
            <ion-label>Unidad</ion-label>
            <ion-input disabled #idunidad></ion-input>
        </ion-item>
        <ion-item>
            <ion-list>
                <ion-label>Fallas</ion-label>
                <ion-item>
                    <ion-input disabled #falla1></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla2></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla3></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla4></ion-input>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label>Estatus</ion-label>
            <ion-select #estatus placeholder="Seleccione" id="mySelect" value="4">
                <!--   <ion-select-option value="6">Validando reparación</ion-select-option>-->
                <ion-select-option value="4">Disponible para entrega</ion-select-option>
                <ion-select-option value="2">Regresar a taller</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Comentarios</ion-label>
                <ion-textarea #comentarios rows="6" cols="20"></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-button (click)="enviar()" shape="round" color="primary" expand="block">Enviar</ion-button>

</ion-content>
<style>
    #mySelect {
        max-width: 100% !important;
    }
</style>