<app-header titulo="Registro de entrada"></app-header>
<ion-content>
    <ion-item>
        <ion-label>Fecha de cita</ion-label>
        <ion-datetime disabled displayFormat="YYYY-MM-DD HH:mm" #fechacita></ion-datetime>
    </ion-item>

    <ion-list>
        <ion-item>
            <ion-label># CUFUS</ion-label>
            <ion-input disabled #idcufus value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>ID</ion-label>
            <ion-input disabled #idunidad></ion-input>
        </ion-item>
        <ion-item>
            <ion-list>
                <ion-label>Fallas</ion-label>
                <ion-item>
                    <ion-input disabled #falla1 placeholder="Falla 1"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla2 placeholder="Falla 2"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla3 placeholder="Falla 3"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla4 placeholder="Falla 4"></ion-input>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label>Criticidad</ion-label>
            <ion-input disabled #criticidad></ion-input>
        </ion-item>

    </ion-list>
    <br>
    <ion-item>
        <ion-label>Llegada al taller</ion-label>
        <ion-datetime disabled #llegada displayFormat="YYYY-MM-DD HH:mm"></ion-datetime>
    </ion-item>
    <br>
    <ion-button (click)="enviar()" shape="round" color="primary" expand="block">Aceptar</ion-button>
</ion-content>
<style>
    ion-label {
        opacity: 1 !important;
    }
</style>