<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Unidad a taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Se ha enviado la información del reporte y diagnóstico para la recepción en taller
    </ion-card-content>
    <br><br><br><br><br><br><br><br>
    <ion-button expand="full" color="primary" shape="round" routerLink="/rescate-finalizado">Aceptar</ion-button>
  </ion-card>

</ion-content>
