<ion-header>
  <ion-toolbar>
    <ion-title>Unidad a taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Se ha enviado la información del reporte y diagnóstico para la recepción en taller
    </ion-card-content>
    <br><br><br><br><br><br><br><br>
    <ion-button expand="full" color="primary" shape="round" routerLink="/rescate-finalizado">Aceptar</ion-button>
  </ion-card>

</ion-content>
