<ion-header>
    <ion-toolbar>
        <app-header titulo="Reportes"></app-header>
        <ion-item>
            <ion-label>
                Filtrar
            </ion-label>
            <ion-select #selectEstatus interface="popover" (ionChange)="show($event)" placeholder="Seleccione">
                <ion-select-option value="1" class="">Por atender</ion-select-option>
                <ion-select-option value="2" class="">En proceso</ion-select-option>
                <ion-select-option value="3" class="">Por refacción</ion-select-option>
                <ion-select-option value="5" class="">Citado</ion-select-option>
                <ion-select-option value="6" class="">Validando</ion-select-option>
                <ion-select-option value="8" class="">Rescate</ion-select-option>
                <ion-select-option value="9" class="">Atendiendo rescate</ion-select-option>
                <ion-select-option value="4" class="">Disponible</ion-select-option>
                <ion-select-option value="7" class="">Entregado</ion-select-option>
                <ion-select-option value="0" class="">Todos</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>

</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button #btnJT routerLink='/form-jt'>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Lista de seguimiento de unidades con reporte a taller</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-list #menu>
        <ng-container *ngIf="indicador == '1'; else elseEstatus">
            <ion-item *ngFor="let reportes of reportes">

                <ion-avatar slot="start">
                    <img src="../assets/icon bus.png" />
                </ion-avatar>
                <ion-label (click)="redireccionar(reportes.Estatus,reportes.Id)">
                    <h2>#: {{ reportes.Id }}, Unidad: {{reportes.IdUnidad}}
                        <p style="color:red;">{{ reportes.NEstatus}}</p>
                    </h2>

                    <p>Desde: {{reportes.FechaDeLevantamiento}}</p>
                    <p *ngIf="reportes.Estatus == '1';  else elseCitado">En espera</p>
                    <ng-template #elseCitado>
                        <p> Citado: {{reportes.FechaDeCita}}</p>
                    </ng-template>
                </ion-label>
                <ion-button *ngIf="perfil==='0' && reportes.Estatus==='1'" (click)="editar(reportes.Estatus,reportes.Id)">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>
        <!---->
        <ng-template #elseEstatus>
            <ng-container *ngFor="let reportes of reportes">
                <ion-item *ngIf=" reportes.Estatus== iEstatus">
                    <ion-avatar slot="start">
                        <img src="../assets/icon bus.png" />
                    </ion-avatar>
                    <ion-label (click)="redireccionar(reportes.Estatus,reportes.Id)">
                        <h2>#: {{ reportes.Id }}, Unidad: {{reportes.IdUnidad}}
                            <p style="color:red;">{{ reportes.NEstatus}}</p>
                        </h2>

                        <p>Desde: {{reportes.FechaDeLevantamiento}}</p>
                        <p *ngIf="reportes.Estatus == '1';  else elseCitado">En espera</p>
                        <ng-template #elseCitado>
                            <p> Citado: {{reportes.FechaDeCita}}</p>
                        </ng-template>
                    </ion-label>
                    <ion-button *ngIf="perfil==='0' && reportes.Estatus==='1'" (click)="editar(reportes.Estatus,reportes.Id)">
                        <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </ng-container>
        </ng-template>
    </ion-list>
</ion-content>
<!-- <ion-item routerLink="/form-cr">
            <ion-avatar slot="start">
                <img src="../assets/icon bus.png" />
            </ion-avatar>
            <ion-label>
                <h2># CUFUS: 00024, ID: 33263</h2>
                <h2>Estatus: Operable B.R.</h2>
                <p>Desde: 13/11/2020 Citado: 11/12/2020</p>
            </ion-label>
        </ion-item>
        <ion-item routerLink="/form-mec">
            <ion-avatar slot="start">
                <img src="../assets/icon bus.png" />
            </ion-avatar>
            <ion-label>
                <h2># CUFUS: 00025, ID: 55632</h2>
                <h2>Estatus: En proceso</h2>
                <p>Desde: 13/11/2020 Atendiendo: Murua</p>
            </ion-label>
        </ion-item>
        <ion-item routerLink="/form-rescate">
            <ion-avatar slot="start">
                <img src="../assets/icon bus.png" />
            </ion-avatar>
            <ion-label>
                <h2># CUFUS: 00026, ID: 66332</h2>
                <h2>Estatus: En proceso</h2>
                <p>Desde: 13/11/2020 Atendiendo: Rescate</p>
            </ion-label>
        </ion-item>
        <ion-item routerLink="/form-ac">
            <ion-avatar slot="start">
                <img src="../assets/icon bus.png" />
            </ion-avatar>
            <ion-label>
                <h2># CUFUS: 00027, ID: 778852</h2>
                <h2>Estatus: Validando reparación</h2>
                <p>Desde: 13/11/2020 Atendiendo: Murua</p>
            </ion-label>
        </ion-item>
        <ion-item routerLink="/rescate-resol">
            <ion-avatar slot="start">
                <img src="../assets/icon bus.png" />
            </ion-avatar>
            <ion-label>
                <h2># CUFUS: 00028, ID: 314852</h2>
                <h2>Estatus: Disponible para entrega</h2>
                <p>Desde: 13/11/2020 Atendiendo: Murua</p>
            </ion-label>
        </ion-item>-->