<ion-header>
    <app-header titulo="Editar"></app-header>
</ion-header>

<ion-content>
    <form>
        <ion-list>
            <ion-item>
                <ion-label># CUFUS</ion-label>
                <ion-input #idcufus disabled></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Id Unidad</ion-label>
                <ion-input #idunidad type="number" required value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Contacto chofer</ion-label>
                <ion-input #contactoOperador type="number" value=""></ion-input>
            </ion-item>
            <ion-item>

                <!-- List of Input Items -->
                <ion-list>
                    <ion-label>Fallas</ion-label>
                    <ion-item>
                        <ion-input #falla1 placeholder="Falla 1"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #falla2 placeholder="Falla 2"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #falla3 placeholder="Falla 3"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #falla4 placeholder="Falla 4"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                <ion-label>Criticidad</ion-label>
                <ion-select #selectCriticidad interface="popover" placeholder="Seleccione">
                    <ion-select-option value="3">No operable</ion-select-option>
                    <ion-select-option value="2">Operable alto riesgo</ion-select-option>
                    <ion-select-option value="1">Operable bajo riesgo</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Lugar de atención</ion-label>
                <ion-select #selectLugar interface="popover" (ionChange)="show($event)" placeholder="Seleccione">
                    <ion-select-option value="3">Taller</ion-select-option>
                    <ion-select-option value="4">Encierro</ion-select-option>
                    <ion-select-option value="5">Taller externo</ion-select-option>
                    <ion-select-option value="6">Rescate</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item #direccion style="display: none;">
                <ion-label>Ubicación</ion-label>
                <ion-textarea #otrodomicilio rows="4" cols="20" value=""></ion-textarea>
            </ion-item>
        </ion-list>

        <ion-button (click)="actualizar()" type="button" shape="round" color="primary" expand="block">Guardar</ion-button>
    </form>
</ion-content>