<app-header></app-header>
<ion-content>
    <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime #fecha displayFormat="YYYY-MM-DD HH:mm" disabled monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
    </ion-item>
    <br>
    <ion-list>
        <ion-item>
            <ion-label>Unidad</ion-label>
            <ion-input disabled #idunidad></ion-input>
        </ion-item>
        <ion-item>
            <ion-list>
                <ion-label>Fallas</ion-label>
                <ion-item>
                    <ion-input disabled #falla1></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla2></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla3></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input disabled #falla4></ion-input>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label>Criticidad</ion-label>
            <ion-input disabled #criticidad></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Ubicación</ion-label>
            <ion-textarea #ubicacion rows="4" cols="20" disabled value=""></ion-textarea>
        </ion-item>

    </ion-list>
    <br>
    <ion-button (click)="enviar()" expand="block" fill="outline">Atender</ion-button>

</ion-content>

<style>
    ion-label {
        opacity: 1 !important;
    }
</style>