<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Proceso terminado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
   
    <ion-card-content>
      <ion-card-title>
        
        </ion-card-title>
        <br> <br>
        <img src="https://freepngimg.com/download/success/6-2-success-png-image.png"/>
    </ion-card-content>
    <br> <br>
    <ion-button expand="full" color="primary" shape="round" routerLink="">Salir</ion-button>
  </ion-card>
</ion-content>
