<ion-header>
  <ion-toolbar>
    <ion-title>Jefe transporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label># CUFUS</ion-label>
      <ion-input disabled value="Numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-input  value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Eco-Tij</ion-label>
      <ion-input  value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contacto chofer</ion-label>
      <ion-input  value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fallas</ion-label>
      <ion-textarea rows="3" cols="20" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Criticidad</ion-label>
      <ion-select placeholder="Seleccione">
        <ion-select-option value="Nooperable">No operable</ion-select-option>
        <ion-select-option value="Riesgoalto">Operable alto riesgo</ion-select-option>
        <ion-select-option value="Riesgobajo">Operable bajo riesgo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Ubicación</ion-label>
      <ion-textarea rows="4" cols="20" value=""></ion-textarea>
    </ion-item>
    
  </ion-list>
  <ion-button shape="round" color="primary" expand="block" routerLink="/form-gm">Enviar</ion-button>
</ion-content>
