<ion-header>
    <app-header titulo="Nuevo reporte"></app-header>
</ion-header>

<ion-content>
    <form [formGroup]="reporteInicial" (ngSubmit)="onClick()">
        <ion-list>
            <!-- <ion-item>
                <ion-label># CUFUS</ion-label>
                <ion-input disabled value="Numero"></ion-input>
            </ion-item>-->
            <!-- <ion-item [class.invalid]="reporteInicial.controls.idVehiculo.valid">-->
            <ion-item #iditemvehiculo [class.valid]="reporteInicial.controls.idVehiculo.valid">
                <ion-label>ID</ion-label>
                <ion-input #idVehiculo type="number" formControlName="idVehiculo" required value=""></ion-input>
            </ion-item>
            <ion-item #idoperador [class.valid]="reporteInicial.controls.contactoOperador.valid">
                <ion-label>Contacto chofer</ion-label>
                <ion-input #contactoOperador type="number" formControlName="contactoOperador" value=""></ion-input>
            </ion-item>
            <ion-item>

                <!-- List of Input Items -->
                <ion-list>
                    <ion-label>Fallas</ion-label>
                    <ion-item #iditemfalla [class.valid]="reporteInicial.controls.fallaUno.valid">
                        <ion-input #fallaUno formControlName="fallaUno" placeholder="Falla 1"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #fallaDos placeholder="Falla 2"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #fallaTres placeholder="Falla 3"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #fallaCuatro placeholder="Falla 4"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item #iditemcriticidad [class.valid]="reporteInicial.controls.selectCriticidad.valid">
                <ion-label>Criticidad</ion-label>
                <ion-select interface="popover" formControlName="selectCriticidad" #selectCriticidad placeholder="Seleccione">
                    <ion-select-option value="3">No operable</ion-select-option>
                    <ion-select-option value="2">Operable alto riesgo</ion-select-option>
                    <ion-select-option value="1">Operable bajo riesgo</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item #iditemlugar [class.valid]="reporteInicial.controls.selectLugar.valid">
                <ion-label>Lugar de atención</ion-label>
                <ion-select interface="popover" formControlName="selectLugar" #selectLugar (ionChange)="show($event)" placeholder="Seleccione">
                    <ion-select-option value="3">Taller</ion-select-option>
                    <ion-select-option value="4">Encierro</ion-select-option>
                    <ion-select-option value="5">Taller externo</ion-select-option>
                    <ion-select-option value="6">Rescate</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item #direccion style="display: none;">
                <ion-label>Ubicación</ion-label>
                <ion-textarea #otrodomicilio rows="4" cols="20" value=""></ion-textarea>
            </ion-item>
        </ion-list>

        <ion-button type="submit" shape="round" color="primary" expand="block">Enviar</ion-button>
    </form>
</ion-content>
<style>
    .invalid {
        border-bottom: 2px solid red;
    }
    
    .valid {
        border-bottom: 2px solid rgb(62, 248, 62);
    }
</style>