<app-header></app-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label># CUFUS</ion-label>
            <ion-input disabled value="Numero"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>ID</ion-label>
            <ion-input value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Contacto chofer</ion-label>
            <ion-input value=""></ion-input>
        </ion-item>
        <ion-item>

            <!-- List of Input Items -->
            <ion-list>
                <ion-label>Fallas</ion-label>
                <ion-item>
                    <ion-input placeholder="Falla 1"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input placeholder="Falla 2"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input placeholder="Falla 3"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input placeholder="Falla 4"></ion-input>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label>Criticidad</ion-label>
            <ion-select placeholder="Seleccione">
                <ion-select-option value="Nooperable">No operable</ion-select-option>
                <ion-select-option value="Riesgoalto">Operable alto riesgo</ion-select-option>
                <ion-select-option value="Riesgobajo">Operable bajo riesgo</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Lugar de atención</ion-label>
            <ion-select (ionChange)="show($event)" placeholder="Seleccione">
                <ion-select-option value="Taller">Taller</ion-select-option>
                <ion-select-option value="Encierro">Encierro</ion-select-option>
                <ion-select-option value="TallerEx">Taller externo</ion-select-option>
                <ion-select-option value="Rescate">Rescate</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item #direccion style="display: none;">
            <ion-label>Ubicación</ion-label>
            <ion-textarea rows="4" cols="20" value=""></ion-textarea>
        </ion-item>
    </ion-list>

    <ion-button shape="round" color="primary" expand="block" routerLink="/form-gm">Enviar</ion-button>
</ion-content>